@charset "utf-8";

body{
	padding: 0px;
	margin: 0px;
	font-family: 'Inter', sans-serif;
	text-shadow: 0px 0px 20px #000;
	text-align: center;
}

h1{
	color: #fff;
	text-align: center;
	font-size: 64px;
}

h2{
	color: #fff;
	text-align: center;
	font-size: 32px;
}

h3{
	color: #000;
	text-align: center;
	font-size: 25px;
	padding: 15px;
	text-shadow: 0px 0px 30px #000;
}

button{
	cursor: pointer;
	border-radius: 50px;
	border-style: none;
	background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
	padding: 10px 40px 10px 40px;
	font-size: 35px;
	letter-spacing: 2px;
	float: none;
	box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
	color: #fff;
	background-size: 300% 100%;
	transition-duration: 0.3s;
	moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
button:hover{
	background-position: 100% 0;
	moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.logo{
	max-width: 300px;
	height: 200px;
	margin: 50px;
	object-fit: contain;
}

.centrist{
	position:relative;
	top: 50%;
	width: 100%;
	margin: auto; 
	transform: translateY(-50%);
}

#start{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: url("img/stars.gif") center fixed;	
}

#bg2{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: url("img/leaves.jpg") no-repeat center fixed;
}

#bg3{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-image: url("img/water2.gif"), url("img/steroids2.png"), url("img/flames.png");
	background-repeat: repeat, repeat, no-repeat;
	background-position:center, left, bottom;
	background-size: 102%, 400px, cover;
	background-blend-mode: color;
	background-attachment: fixed, fixed, scroll;
}

#steroids_bg{
	position:absolute;
	width: 100%;
	height: 100%;
	background-image: url("img/steroids2.png"), url("img/flames.png");
	background-repeat: repeat, no-repeat;
	background-position:left, bottom;
	background-size: 400px, cover;
	background-blend-mode:color;
	background-attachment: fixed, scroll;
}

#bg4{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: url("img/water1.gif") center fixed;
	background-size: 102%;
}

#bg5{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: url("img/cobra.jpg") center fixed;
	background-size: cover;
}

#bg6{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: url("img/alcohol.jpg") no-repeat center fixed;
	background-position: top;
	background-size: cover;
}

#end{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: url("img/plants.jpg") center fixed;
}

#bg8{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: url("img/ceo.jpeg") center fixed;
	background-size: cover;
}

#contacts{
	background-color: #fffffff0;
	border-radius: 15px;
	margin: 50px;
}

#steroids{
	width: 50%;
	object-fit:cover;
	margin: auto;
	overflow: visible;
	animation: hue-shift 3s infinite;
}

#spotify{
	border-radius:12px;
	margin: auto;
	width: 20%;
	min-width: 500px;
	height: 152px;
}

@keyframes hue-shift{
	0%{
		filter: hue-rotate(0deg);
		transform: scale(1.0);
	}
	50%{
		filter: hue-rotate(180deg);
		transform: scale(1.1);
	}
	100%{
		filter: hue-rotate(359deg);
		transform: scale(1.0);
	}
}